{% extends "base.html" %}
{% block main %}
<table>
         <thead>
            <tr>
               <th>Id</th>
               <th>Username</th>
               <th>Email</th>
               <th>Actions</th>
            </tr>
         </thead>
         
         <tbody>
            {% for user in users %}
               <tr>
                  <td>{{ user.id }}</td>
                  <td>{{ user.username }}</td>
                  <td>{{ user.email }}</td>
                  <td><a href = "{{ url_for('savejob', uid=user.id) }}">Add Job</a></td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
{% endblock %}